<?xml version="1.0"?>
<launch>
  <arg name="world" default="$(find gazebo_ros)/worlds/empty.world"/>
  <arg name="gui" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="params_file" default="$(find device_sim)/config/device_params.yaml"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro $(find device_sim)/urdf/dome_device.xacro params_file:=$(arg params_file)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="map_to_base" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 map base_link"/>
  
  <node name="spawn_device" pkg="gazebo_ros" type="spawn_model" args="-urdf -model dome_device -param robot_description"/>
  <node name="livox_pointcloud2" pkg="device_sim" type="pointcloud_to_pointcloud2.py" output="screen">
    <param name="input_topic" value="/livox/lidar_raw"/>
    <param name="output_topic" value="/livox/lidar"/>
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find device_sim)/rviz/device_sim.rviz"/>
</launch>
