<launch>
  <arg name="address" default="$(optenv ROSBRIDGE_ADDRESS 0.0.0.0)" />
  <arg name="port" default="$(optenv ROSBRIDGE_PORT 9090)" />

  <node pkg="tf2_web_republisher" type="tf2_web_republisher"
        name="tf2_web_republisher" output="screen" />
  <node pkg="rosbridge_server" type="rosbridge_websocket"
        name="rosbridge_websocket" output="screen">
    <param name="address" value="$(arg address)" />
    <param name="port" value="$(arg port)" />
  </node>
</launch>
